<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The <a href="http://solvation.ca">Solvation</a> website is a project
	to help students study, by providing step-by-step solutions to textbook
	problems.
</p>


