<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, :maxlength=>"140", :onkeyup=>"textAreaLength(this,'count', 140)", placeholder: "Compose new micropost..." %>	

	</div>
	<p id="count">&nbsp;<br/>
		
	</p>
	<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
